@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 15em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color: #101010;
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(53, 53, 53, 0.774), rgba(255, 217, 0, 0.5)),
		url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 0 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	background: #333;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  
  .buttons {
	margin-top: 575px;
	text-align: center;
	border-radius: 35px;
  }
  .button{
	background-color: Transparent;
	margin-top: 575px;
	text-align: center;
	border-radius: 35px;
	outline:none;


}
  
  .blob-btn {
	z-index: 1;
	position: relative;
	padding: 20px 46px;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: none;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	cursor: pointer;
	border-radius: 30px;
  }
  .blob-btn:before {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #000000;
	border-radius: 30px;
  }
  .blob-btn:after {
	content: "";
	z-index: -2;
	position: absolute;
	left: 3px;
	top: 3px;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
	border-radius: 30px;
  }
  .blob-btn:hover {
	color: #ffbb00;
	border-radius: 30px;
  }
  .blob-btn:hover:after {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	left: 0;
	top: 0;
	border-radius: 30px;
  }
  .blob-btn__inner {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background: #ffbb00;
  }
  .blob-btn__blobs {
	position: relative;
	display: block;
	height: 100%;
	-webkit-filter: url("#goo");
			filter: url("#goo");
  }
  .blob-btn__blob {
	position: absolute;
	top: 2px;
	width: 25%;
	height: 100%;
	background: #242424;
	border-radius: 100%;
	-webkit-transform: translate3d(0, 150%, 0) scale(1.7);
			transform: translate3d(0, 150%, 0) scale(1.7);
	-webkit-transition: -webkit-transform 0.45s;
	transition: -webkit-transform 0.45s;
	transition: transform 0.45s;
	transition: transform 0.45s, -webkit-transform 0.45s;
  }
  @supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
	.blob-btn__blob {
	  -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
			  transform: translate3d(0, 150%, 0) scale(1.4);
	}
  }
  .blob-btn__blob:nth-child(1) {
	left: 0%;
	-webkit-transition-delay: 0s;
			transition-delay: 0s;
  }
  .blob-btn__blob:nth-child(2) {
	left: 30%;
	-webkit-transition-delay: 0.08s;
			transition-delay: 0.08s;
  }
  .blob-btn__blob:nth-child(3) {
	left: 60%;
	-webkit-transition-delay: 0.16s;
			transition-delay: 0.16s;
  }
  .blob-btn__blob:nth-child(4) {
	left: 90%;
	-webkit-transition-delay: 0.24s;
			transition-delay: 0.24s;
  }
  .blob-btn:hover .blob-btn__blob {
	-webkit-transform: translateZ(0) scale(1.7);
			transform: translateZ(0) scale(1.7);
  }
  @supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
	.blob-btn:hover .blob-btn__blob {
	  -webkit-transform: translateZ(0) scale(1.4);
			  transform: translateZ(0) scale(1.4);
	}
  }
